.place__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
    grid-area: place__title;   
}

@media screen and (max-width:768px) {
    .place__title{
        font-size: 42px;
        line-height: 46px;
        text-align: left;       
    }
}



@media screen and (max-width:330px) {
    .place__title{
        font-size: 32px;
        line-height: 35px;
        text-align: left;
        padding-left: 16px;  
    }
    
}