.place__container {
    box-sizing: border-box;
    grid-area: place_container;
    margin: 0;
}


@media screen and (max-width:330px) {
    .place__container {
        max-width: 288px;
        margin: 0 auto;
    }
}