.places{
    box-sizing:border-box;
    max-width: 1015px;
    margin: 0 auto;
    padding-top: 92px;
    display: grid;
    grid-row-gap:80px;
}

@media screen and (max-width:1024px) {
    .places{
        max-width: 928px;
        padding-top: 92px;
    }
}

@media screen and (max-width:768px) {
    .places{
        max-width:93.8vw;
        grid-row-gap:73px;
        padding-top: 92px;
    }
}

@media screen and (max-width:330px) {
    .places{
        display: flex;
        max-width: 320px;
        flex-direction: column;
        padding-top: 64px;
        grid-row-gap:50;
        padding-bottom: 66px;
    }
}