.cover__subtitle {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    z-index: 3;
    margin: 0 auto;
    max-width: 360px;
}

@media screen and (max-width:320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}