.footer__link{
    text-decoration: none;
    padding-right: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (width:320px) {
    .footer__link{
        padding-bottom: 32px;
        text-decoration: none;
        font-size: 24px;
        line-height: 24px
    }
}


