.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
}

.place__paragraph:first-child {
    padding-bottom: 26px;
}

.place__paragraph:nth-last-child(1) {
    padding-bottom: 0;
}

@media screen and (max-width:768px) {
    .place__paragraph {
        font-size: 16px;
    }

    .place__paragraph:first-child {
        padding-bottom: 25px;
    }

    .place__paragraph:nth-last-child(1) {
        padding-bottom: 0;
    }
}

@media screen and (max-width:434px) {
    .place__paragraph {
        font-size: 1vh;
    }
}


@media screen and (max-width:345px) {
    .place__paragraph {
        font-size: 16px;
    }
}