.lead__image{
    max-width:100%;
    height: 615px;
    margin: 0 auto;
    display: block;
    grid-column: 1;
   
}


@media screen and (max-width:1024px) {
    .lead__image{
        max-width: 100%;
        height: 580px;
    }
}

@media screen and (max-width:768px) {
    .lead__image{
        width: 100%;
        height: 480px;
    }
}

@media screen and (max-width:320px) {
    .lead__image{
        width: 100%;
        height: 200px;
    }
}