.intro__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 33px;
}

@media screen and (max-width:320px) {
    .intro__text {
        text-shadow: none;
    }
}