.intro{
    padding-top: 92px;
    padding-left:148px;
    max-width: 48vw;
    
}


@media screen and (width:1024px) {
    .intro{
        max-width: 67vw;
        padding-left:70px;
    }
}

@media screen and (width:768px) {
    .intro{
        padding-top: 88px;
        max-width: 94vw;
        padding-left:24px;
    }
}

@media screen and (width:320px) {
    .intro{
        margin: 0 auto;
        max-width: 88vw;
        padding-left:0;
    }
}
