.footer__nav{
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}


@media screen and (max-width:320px) {
    .footer__nav{
        list-style-type:none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}