.cover__background{
    background:url(../../../image/cover-trains.jpg) no-repeat;
    width: 1184px;
    height: 740px;
    background-size: cover;
    background-position:center;
    margin: 0 auto;
    opacity: 0.8;
}

/* .cover__background:hover{
    opacity: 0.3;
    transition: opacity 0.3s ease-in;
} */



@media screen and (max-width:1023px) {
   .cover__background{
       max-width: 100%;
       height: 640px;
   }
}


@media screen and (max-width:767px) {
    .cover__background{
        max-width: 100%;
        height: 480px;
    }
 }


 @media screen and (max-width:320px) {
    .cover__background{
        max-width: 320px;
        height: 200px;
    }
 }