.cover__background{
    position: relative;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../../../image/cover-trains.jpg);
    max-width: 100%;
    height: 740px;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}





@media screen and (max-width:1024px) {
   .cover__background{
    max-width: 100%;
    height: 640px;
   }
}


@media screen and (max-width:768px) {
    .cover__background{
        max-width: 100%;
        height: 480px;
    }
 }


 @media screen and (max-width:320px) {
    .cover__background{
        max-width: 320px;
        height: 200px;
    }
 }