.cover__background{
    position: relative;
    background:url(../../../image/cover-trains.jpg) no-repeat;
    max-width: 100%;
    height: 740px;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    opacity: 0.8;
    
}

/* .cover__background:hover{
    opacity: 0.3;
    transition: opacity 0.3s ease-in;
} */



@media screen and (max-width:1024px) {
   .cover__background{
    max-width: 100%;
    height: 640px;
   }
}


@media screen and (max-width:768px) {
    .cover__background{
        max-width: 100%;
        height: 640px;
    }
 }


 @media screen and (max-width:320px) {
    .cover__background{
        max-width: 320px;
        height: 200px;
    }
 }