.cover__title {
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
    margin: 0;
    padding-bottom: 32px;
    opacity: 1;
}






@media screen and (max-width:320px) {

    .cover__title {    
        font-size: 32px;
        line-height: 35px;
        margin: 0;
    }
}