.cover__title {
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 3;
    margin: 0 auto;
    padding-bottom: 32px;
    max-width: 560px;
}


@media screen and (max-width:434px) {
    .cover__title{
        font-size: 40px;
    }
}

@media screen and (max-width:320px) {

    .cover__title {
        padding-bottom: 16px;
        max-width: 288px;    
        font-size: 32px;
        line-height: 35px;
    }
}