.place{
    box-sizing: border-box;
    max-width: 984px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "place__title website"
    "place__image place_container";
    row-gap: 48px;
    column-gap: 40px;
    
}



@media screen and (max-width:1024px){
    .place{
        box-sizing: border-box;
        max-width: 928px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "place__title website"
        "place__image place_container";
        row-gap: 48px;
        column-gap: 32px;
    }
  
}


@media screen and (max-width:768px){
    .place{
        box-sizing: border-box;
        max-width: 720px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "place__title website"
        "place__image place_container";
        row-gap: 48px;
        column-gap: 28px;
    }
    

}


@media screen and (max-width:320px){
    .place{
        max-width: 320px;   
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        row-gap: 0;
        column-gap: 0;

    }

}