.footer{
    padding-top: 92px;
    padding-bottom: 24px;
    margin: 0 auto;
    max-width: 1184px;
    max-height: 18px;
}

@media screen and (max-width:1024px) {
    .footer{
        max-width: 928px;
        max-height: 18px;
    }
}



@media screen and (max-width:320px) {
    .footer{
        max-width: 320px;
        max-height: 400px;
    }
}