.header__lang-link_underline {
    text-decoration: underline;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width:1024px) {
    .header__lang-link_underline {
        text-shadow: none;
    }
}